:root,
:root.light {
	--color-bg: bisque;
	--color-fg: #000000;
    --card-bg-color: #fafafa;
}
:root.dark {
	--color-bg: #263238;
	--color-fg: bisque;
    --card-bg-color: #607d8b;
}

body {
    overflow: hidden;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-bg);
	color: var(--color-fg);
}

.container {
    border: 2px;
    padding: 2px;
    margin: 5px;
}

#appContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100vw;
}

#formContainer {
    flex: 0 1 auto;
    flex-shrink: 1;
    width: 15vw;
}

button {
    border: 10px;
    margin: 10px;
    padding: 12px 12px;
    border-radius: 30px;
    font-weight: 500;
    color: black;
    background-color: #c2e79f;
    cursor: pointer;
}

#dadJokeMeme {
    padding: 12px 12px;
    display: flex;
    flex: 0 1 auto;
    object-fit: fill;
    max-height: 75vh;
    max-width: 30vw; 
}

#jokeContainer{
    flex: 0 1 auto;
    width: inherit;
}

#cardContainer {
    border-radius: .5em;
    padding: 10px;
    display: grid;
    max-width: inherit;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}   

.container>* {
    padding: 10px;
    border-radius: .5em;
    margin: 0;
}

.card {
    display: grid;
    overflow-wrap: normal;
    align-items: center;
    
    max-width: inherit;
    grid-template-rows: auto 40px 1fr;
    border-radius: 3px;
    background-color: var(--card-bg-color);
}

.card__details {
    padding: 16px 8px 8px 8px;
  }
  

.card img {
    border: 2px;
    padding: 2px;
    margin: 5px;
    border-radius: 12px;
    height: 10vh;
    width: 25vw;
    object-fit: contain;
}

#imgContainer {
    justify-content: center;
    flex: 0 1 auto;
    width: 23vw;
}

