:root,
:root.light {
	--color-bg: bisque;
	--color-fg: #000000;
}
:root.dark {
	--color-bg: #263238;
	--color-fg: bisque;
}


body {
    overflow: hidden;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-bg);
	color: var(--color-fg);
}

form {
    flex: 1 0 10%;
    width: 33vw;
}

.container {
    display: flex;
    column-count: 3;
    column-gap: 20px;
    column-rule: 1px solid black;
}

button {
    border: 10px;
    margin: 10px;
    padding: 12px 12px;
    border-radius: 30px;
    font-weight: 500;
    color: black;
    background-color: #c2e79f;
    cursor: pointer;
}

img {
    padding: 12px 12px;
    display: flex;
    margin: 0 auto;
    object-fit: fill;
    max-height: 80vh;
    max-width: 80vw; 
}

.jokeContainer{
    width: 34vw;
    justify-content: center;
}

.imgContainer {
    width: 33vw;
    justify-content: center;
}

